{% import "includes.jinja" as includes %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <h1>{{ title }}</h1>

        <section>
            {% for page in sitemap if page.type == "page" %}
            {{ includes.nav_page(page) }}
            {% endfor %}
        </section>

        {% for section in sitemap if section.type == "section" %}
        <section>
            <p class="section-title">{{ section.title }}</p>

            {% for page in section.children %}
            {{ includes.nav_page(page) }}
            {% endfor %}
        </section>
        {% endfor %}
    </nav>

    <main>
        <article>
            <p>Artikel</p>
        </article>
    </main>
</body>

</html>