<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <h1>{{ nav.title }}</h1>
        {% for section in nav.link_sections %}
        <section>
            <p><strong>{{ section.title }}</strong></p>
            {% for link in section.links %}
            <a href="{{ link.href }}">{{ link.title }}</a>
            {% endfor %}
        </section>
        {% endfor %}
    </nav>

    <main>
        <article>
            <p>Artikel</p>
        </article>
    </main>
</body>

</html>