{% import "includes.jinja" as includes %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - {{ config.general.name }}</title>
    <link rel="stylesheet" href="{{ get_url('style.css', config) }}">
    <style>
        :root {
            --primary-color: {{ config.theme.primary_color }};
            --primary-color-light: {{ generate_primary_color_light(config.theme.primary_color) }};
        }
        </style>
</head>

<body>
    <header>
        <p class="title">{{ config.general.name }}</p>

        <div class="links">
            {% for link in config.theme.header_links %}
            <a href="{{ link.url }}" target="_blank">
                {{ link.title }}
            </a>
            {% endfor %}
        </div>
    </header>

    <nav>
        <section>
            {% for page in sitemap if page.type == "page" %}
            {{ includes.nav_page(page, config) }}
            {% endfor %}
        </section>

        {% for section in sitemap if section.type == "section" %}
        <section>
            <p class="section-title">{{ section.title }}</p>

            {% for page in section.children %}
            {{ includes.nav_page(page, config) }}
            {% endfor %}
        </section>
        {% endfor %}
    </nav>

    <main>
        <article>
            {{ content }}
        </article>
        <footer class="{{ 'hide' if not get_footer_html(config) }}">
            {{ get_footer_html(config) }}
        </footer>
    </main>
</body>

</html>