:root {
    --primary-color: #ffb977;
    --primary-color-light: #fac695;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
}

nav {
    background: var(--primary-color);
    height: 100vh;
}

nav h1, nav p, nav a {
    padding-left: 10px;
    padding-right: 10px;
}

nav .section-title {
    font-weight: bold;
}

nav .page-link {
    display: block;
    color: black;
    margin: 0;
    padding: 10px;
}

nav .page-link:hover {
    background: var(--primary-color-light);
}

main {
    padding: 10px;
}

main a {
    color: var(--primary-color);
}