:root {
    --primary-color: #ffb977;
    --primary-color-light: #fac695;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
}

nav {
    background: var(--primary-color);
    height: 100vh;
}

nav h1, nav p, nav a {
    padding-left: 10px;
    padding-right: 10px;
}

nav .section-title {
    font-weight: bold;
}

nav .page-link {
    display: block;
    color: black;
    margin: 0;
    padding: 10px;
}

nav .page-link:hover {
    background: var(--primary-color-light);
}

main {
    padding: 10px;
}

main article a {
    color: var(--primary-color);
}

main article pre {
    background: #f6f8fa;
    padding: 10px;
}

main article pre code {
    font-family: monospace;
}

main article h1 {
    font-size: 2em;
}

main article h1,
main article h2,
main article h3,
main article h4,
main article h5,
main article h6 {
    font-weight: 400;
}

main article blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
    margin: auto 0;
}